<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>마켓컬리 회원관리 정보</title>
</head>
<body>
    <div id="wrap">
        <div class="container">
            <div class="content">
                <table>
                    <tr>
                        <th>아이디</th>
                        <th>비밀번호</th>
                        <th>비밀번호확인</th>
                        <th>이름</th>
                        <th>이메일</th>
                        <th>휴대폰</th>
                        <th>주소</th>
                        <th>성별</th>
                        <th>생년월일</th>
                        <th>추가입력 사항</th>
                        <th>아이용약관동의이디</th>
                    </tr>
                    <tr>
                        <td>아이디</td>
                        <td>비밀번호</td>
                        <td>비밀번호확인</td>
                        <td>이름</td>
                        <td>이메일</td>
                        <td>휴대폰</td>
                        <td>주소</td>
                        <td>성별</td>
                        <td>생년월일</td>
                        <td>추가입력 사항</td>
                        <td>아이용약관동의이디</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</body>
</html>