<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div id="wrap">
    <header>
        <a href="#">홈</a>
        <a href="/view">글 내용 보기</a>
    </header>
    <main id="main">

            <div>
                <h2>{{subject}}</h2>
            </div>
            <div>
                <h2>{{content}}</h2>
            </div>


    </main>
    <footer>
        <h2>footer 입니당!</h2>
    </footer>
</div>


</body>
</html>